{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <title>Devee equipments</title>
      <link rel="icon" href="{% static 'images/logo/logo.jpg' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
      <script src="{% static 'js/main.js' %}"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script>
             function popup1()
             {   

              var myVar = document.getElementById("name1").value;
              myVar=myVar+"."
              var myVar1 = document.getElementById("email").value;
              myVar1=myVar1+"."
              var myVar2 = document.getElementById("message").value;
              myVar2=myVar2+"."
              if (myVar[0]!=='.' && myVar1[0]!=='.' && myVar2[0]!=='.')
              {
                Swal.fire({
                 title: 'Thank you!',
                 text: 'Your Message has Sent Sucessfully,we will reply back shortly......',
                 icon: 'success',
                 confirmButtonText: 'ok'
                })
              }
             }
      </script>
    <style>
      body{
      font-family: 'Quicksand', sans-serif;
    }
    </style>
    </head>
    <body background="{% static 'images/background/background.jpg' %}">
      <nav class="navbar navbar-py-3 py-lg-3 bg-dark text-white">
        <a class="navbar-brand text-white" href="#">                
         <h1>  <img src="{% static 'images/logo/logo.jpg' %}" width="100" height="80" > DEVEE EQUIPMENTS </h1>
        </a>
    </nav>
      <br>
      <br><br>
        <div class="container">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/">Home &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class="fas fa-home"></span></a>
                <a href="{% url 'about' %}">About Us &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class="fab fa-buysellads"></span></a>
                      <a href="{% url 'pro' %}">Product &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class="fas fa-shopping-bag"></span></a>
                      <a href="{% url 'contact' %}">Contact &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class="fas fa-address-card"></span></a>
                      
            </div>              
              <button type="button" class="openbtn" onclick="openNav()">
                <span class="fas fa-bars" aria-hidden="true"></span> 
              </button>
              <br><br>
          <div class="jumbotron bg-dark text-white">  
			<div class="row">
				<div class="col-sm text-center">
				  <h1 class="div-heading display-4">Contact</h1>
				</div>
			</div>
            <br>
			<div class="row">
				<div class="col-md-6">
					<form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
					  <div class="form-group" >              
						  <input type="name" class="form-control"  placeholder="Your Full Name..." name="name" id="name1"  required>
					  </div>
            <div class="form-group">
						  <input type="email" class="form-control"  placeholder="Your Email Address..."name="email"  id="email"required>
					  </div>
            <div class="form-group">
              <textarea class="form-control" aria-label="With textarea" placeholder="Subject" name="message" id="message" required></textarea>
            </div>
					  <button type="submit" class="btn btn-warning btn-lg btn-block" onclick="popup1()">Submit</button>
					</form>
			  </div>
			<div  class="col-md-6">
             <br>
             <h3>Address:</h3> 
             <p style="font-size: .43cm;">DEVEE EQUIPMENTS,<br>
                    GST: 33BOQPA4328N1ZQ,<br>
                    2/2 SURYA NAGAR,<br>
                    METTUPALAYAM ROAD,<br>
                    NARASIMANAICKENPALAYAM,<br>
                    COIMBATORE - 641 031.</p>
              <br>
              <h5>Email: deveeequipments100c@gmail.com</h5>              
	  		</div>
			</div>
          </div>
		</div><br>
    <footer class="bg-dark"><br>
      <div class="container bg-dark text-white">
        <div class="row">
          <div class="col-md-3 footer-column">
            <h4>About Us :</h4><br>
            <p style="text-align: justify; font-size: .43cm;" class="text-muted"> 
              Deevee equipments established in 2015, is a leading technology driven company based at Coimbatore in
               Tamil Nadu, India. We are the Sole Proprietorship based company that is involved in the manufacturing, 
               wholesaling and trading electronic products. </p>
            
          </div>
          <div class="col-md-3 footer-column" style="text-align: center;">
            <h4>Menu :</h4><br>
            <a href="/" style="color: white; text-align: left; font-size: .43cm;"class="text-muted">Home</a><br>
            <a href="{% url 'about' %}" style="color: white; text-align: left; font-size: .43cm;"class="text-muted">About Us</a><br>
            <a href="{% url 'pro' %}" style="color: white; text-align: left; font-size: .43cm;"class="text-muted">Products</a><br>
            <a href="{% url 'contact' %}" style="color: white; text-align: left; font-size: .43cm;"class="text-muted">Contact</a><br><br><br>
          </div>
          <div class="col-md-6 footer-column">
            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
              <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                  var setting = {"height":300,"width":600,"zoom":17,"queryString":"Mettupalayam Road, Narasimhanaickenpalayam, Tamil Nadu, India","place_id":"Ej1NZXR0dXBhbGF5YW0gUm9hZCwgTmFyYXNpbWhhbmFpY2tlbnBhbGF5YW0sIFRhbWlsIE5hZHUsIEluZGlhIi4qLAoUChIJBQfOOlnuqDsRjdUrJjHEeeESFAoSCZ-Vsy2S9qg7EW-7jsZWiOEB","satellite":false,"centerCoord":[11.115806103120136,76.93569980000001],"cid":"0xe179c431262bd58d","lang":"en","cityUrl":"/india/coimbatore-38055","cityAnchorText":"Map of Coimbatore, South Kerala, India","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"471911"};
                  var d = document;
                  var s = d.createElement('script');
                  s.src = 'https://1map.com/js/script-for-user.js?embed_id=471911';
                  s.async = true;
                  s.onload = function (e) {
                    window.OneMap.initMap(setting)
                  };
                  var to = d.getElementsByTagName('script')[0];
                  to.parentNode.insertBefore(s, to);
                })();</script><a href="https://1map.com/map-embed">1 Map</a></div>
          </div>
       </div>
    
        <br>
        <br>
        
        <div class="row text-center">
          <div class="col-md-6 box">
            <span class="copyright quick-links">Copyright &copy; Your Website <script>document.write(new Date().getFullYear())</script>
            </span>
          </div>
          <div class="col-md-6 box">
            <ul class="list-inline quick-links">
              <li class="list-inline-item">
                <a href="#" style="color: white;">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="color: white;">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>    
    </body>
</html>
